---
layout: archive
title: "Nothing suspicious going on here, move along"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<div class="tenor-gif-embed" data-postid="20613374" data-share-method="host" data-aspect-ratio="0.803125" data-width="60%">
    <a href="https://tenor.com/view/tl-reporter-fall-over-dog-fall-gif-20613374">Tl Reporter Fall Over GIF</a>from <a href="https://tenor.com/search/tl+reporter-gifs">Tl Reporter GIFs</a>
</div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    